body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

.logo{
    width: 100px;
    height:auto;
    padding: 20px 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    background: #1F2937;
}

.header-links{
    display: flex;
    padding: 18px;
    list-style: none;
    margin: 30px;
    align-self: center;
    font-size: 24px;
    color:white;
}

.link{
    padding-right:18px;
}

.hero-img{
    width: 300px;
    border: 2px solid #978d00;
    align-self: flex-start;
}

.hero{
    display:flex;
    background: #1F2937;
    padding: 50px 60px;
    justify-content: space-between;
}

.hero-text{
    display: flex;
    flex-direction: column;
    color:#F9FAF8;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    padding:0px;
    margin:0px;
}

.hero-p{
    padding-right:20px;
}

.sub{
    width:100px;
    text-align: center;
    background: #3882F6;
    color:white;
    border-radius: 8px;
    padding:10px;
}

.infobar{
    display:flex;
    padding:90px;
    justify-content: center;
    color:black;
}

.infopic{
    display: flex;
    flex-direction: column;

}

.info{
    height:150px;
    width: auto;
    border: solid 3px rgb(25, 97, 121);
    margin:30px;
    border-radius: 15px;
    align-self:center;
}

.infotext{
    text-align: center;
    margin:10px;
}

.quote{
    background: rgb(177,177,177);
    display:flex;
    flex-direction: column;
    padding: 120px 50px;
}

.qtext{
    align-self: center;
    font-size:40px;
    color:white;
}

.qname {
    align-self: flex-end;
    font-style: italic;
    font-weight:700;
    padding-right: 60px;
    color:white;
}

.footer{
    display:flex;
    background: rgb(23, 110, 209);
    color: white;
    margin: 120px 0px;
    padding: 50px
}

.ftitle{
    font-weight:600;
    font-size: 32px;
}

.fsubtext{
    font-size:14px;
    color:rgb(187, 187, 187)
}

.fbutton{
    border: solid 3px white;
    border-radius: 15px;
    padding:0px 20px;
    margin-left: 80px;
    background:rgb(23, 110, 209);
    height: 40px;
    line-height:40px;
    align-self: center;
}

.happy{
    text-decoration: none;
}